# Node modules
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Build outputs
/frontend/dist
/frontend/dist-ssr
*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
